SPRING_PROFILES_ACTIVE=dev

SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/careergraph/api/v1

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5442/careergraph
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
DATASOURCE_MAX_POOL_SIZE=10
DATASOURCE_MIN_IDLE=2

SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=
SPRING_REDIS_SSL=false

SPRING_ELASTICSEARCH_URIS=http://localhost:9200

JWT_SIGNER_KEY=replace-with-dev-secret-key
JWT_VALID_DURATION=3600
JWT_REFRESHABLE_DURATION=36000
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
GEMINI_API_KEY=
HUGGING_FACE_KEY=

EMBEDDING_SERVICE_URL=http://localhost:8000
FAST_API_BASE_URL=http://localhost:8000
CACHE_USER_TTL=300

SUPPORT_EMAIL=support@careergraph.local
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_TRANSPORT_PROTOCOL=smtp
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
MAIL_DEBUG=false

INTEGRATION_S3_ENDPOINT=
INTEGRATION_S3_ACCESS_KEY=
INTEGRATION_S3_SECRET_KEY=
INTEGRATION_S3_BUCKET=
INTEGRATION_S3_REGION=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
