# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - careergraph-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C356D2CD165041B7A71F45DA00A5D589 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_236519E892704FF99F82D7252B1462C7 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: index.docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C356D2CD165041B7A71F45DA00A5D589 }}/congquynguyen296/careergraph-api:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_75D6A70A86D64EB1827652B82DFC9C01 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_41F148C8E3F247CBA28C2DF29D41B6CF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E8C85CAE6DBF4B3286DA2D5935934513 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'careergraph-api'
          slot-name: 'Production'
          images: 'index.docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C356D2CD165041B7A71F45DA00A5D589 }}/congquynguyen296/careergraph-api:${{ github.sha }}'
          